{% extends 'base.html.twig' %}


{% block body %}
    <h1>{% trans %}liste des articles{% endtrans %}</h1>
   
    <table class="table table-hover">
  <thead>
  <tr>
     <th>{% trans %} Titre {% endtrans %}</th>
     <th>{% trans %} Contenu {% endtrans %}</th>
     <th>{% trans %} date de creation {% endtrans %}</th>
     <th>{% trans %}  nom de l auteur {% endtrans %}</th>
     <th>{% trans %}  Afficher un article {% endtrans %}</th>
      <th>{% trans %} modification article {% endtrans %}</th>
     <th>{% trans %} suppression article {% endtrans %}</th>
      
   </tr>
   {% for article in allarticles %}
   
   
      

    <tr>
       <td>{{ article.title }}</td>
       <td>{{ article.content }}</td>
       <td>{{ article.dateCreation|date('Y-m-d')}}</td>
       <td>{{ article.userId.name }}</td>
     
       <td><a href= {{ path('articlesdetails', {'id':article.id}) }}>afficher detail article</a></td>
       <td><a href= {{ path('updateArticle', {'id':article.id}) }}>Modifier article</a></td>
       <td><a href= {{ path('deleteArticle', {'id':article.id}) }}>supprimer un article</a></td>
      
       
   </tr>

 {% endfor %}
 
</table>

    
   
  </tbody>

{% endblock %}