<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}<Bienvenue!{% endtrans %}{% endblock %}</title>
        <link rel='stylesheet' href='https://bootswatch.com/4/journal/bootstrap.min.css'>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Notre Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
            </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href= {{ path('home') }}>{% trans %}Accueil{% endtrans %} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= {{ path('userslist') }} >{% trans %}Utilisateurs{% endtrans %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('ajoutUser') }}>{% trans %}Ajouter utilisateur{% endtrans %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('articleslist') }}>{% trans %}Articles{% endtrans %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('ajoutArticle') }}>{% trans %}Ajouter articles{% endtrans %}</a>
      </li>
       {% if app.user %}
                    <li class="nav-item">
                        <p class="nav-link">{% trans %}Bienvenue:{% endtrans %} {{ app.user.name }} </p>
                    </li>
                 {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('login') }}>Login</a>
                    </li>
                 {% endif %}
                  {% if app.user %}
                    <a class="nav-link" href= {{ logout_path('main') }}>LOGOUT</a>
       {% endif %}
       
  
      
    </ul>
    
  </div>
</nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
